*.7z
*.accdb
*.accde
*.csv
*.exe
*.laccdb
*.lnk
*.log
*.msg
*.pyc
*.txt
*.vbs
*.xlsx
*.xlsm
*.zip
.git/
.idea/
.metadata/
How To Read a TXDOT.pdf
7zip/
cntlm/
fiddler/
IEDriverServer_x64_2.44.0/
Portable Python 2.7.6.1/
PortableGit/
PycharmProjects/
RemoteSystemsTempFiles/
temp*
test*

