*.7z
*.accdb
*.accde
*.csv
*.exe
*.laccdb
*.lnk
*.log
*.msg
*.pyc
*.txt
*.vbs
*.xlsx
*.xlsm
*.zip
How To Read a TXDOT.pdf
temp*
7zip/
.atom/
.git/
.idea/
.metadata/
Atom/
cntlm/
fiddler/
IEDriverServer_x64_2.44.0/
Portable Python 2.7.6.1/
PortableGit*
PycharmProjects/
RemoteSystemsTempFiles/
xlwings-*/
