*.7z
*.accdb
*.accde
*.csv
*.exe
*.laccdb
*.lnk
*.log
*.msg
.project
.pydevproject
*.pyc
*.txt
*.vbs
*.xlsx
*.xlsm
*.zip
How To Read a TXDOT.pdf
temp*
7zip/
.atom/
.idea/
.metadata/
Atom/
cntlm/
comtypes-1.1.3/
ETCinvoices/
fiddler/
IEDriverServer_x64_2.44.0/
images/
linuxNotes/
miniconda*
Portable Python 2.7.6.1/
PortableGit*
PycharmProjects/
RemoteSystemsTempFiles/
xlwings-*/

